#predictions {
    transition: opacity 1s;
    display: flex;
}
body {
    background-image: url("media/toronto.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 20px; /* change this to whatever height you want it */
}